* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  --black: #1e1e20;
  --yellow: #ffde3c;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
}

.content {
  background: #ffffff;
  color: var(--black);
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 40%;
}
.content :nth-last-child(n + 2) {
  margin-bottom: 2.4rem;
}
.content h1 {
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
}
.content h3 {
  font-weight: 400;
  color: #1e1e2088;
}
.content form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content form input {
  height: 2.8rem;
  border-width: 0 0 1px 0;
  border-color: #1e1e2056;
}
.content form input:focus {
  outline: none;
  border-width: 0 0 1.5px 0;
  border-color: #1e1e20c9;
}
.content form button {
  background: var(--black);
  color: #ffffff;
  border: 0;
  letter-spacing: 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  transition: opacity 0.3s linear;
  height: 2.8rem;
}

.content form button:hover {
  cursor: pointer;
  opacity: 90%;
}

.social-icons {
  background: var(--yellow);
  height: 100vh;
  width: 30%;
  color: var(--black);
  display: flex;
}
.social-icons .icon {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 1rem;
  height: 1rem;
  transition: opacity 0.4s;
}
.social-icons .icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.info {
  background: var(--black);
  color: #eae9ec;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: 65%;
  padding-left: 4rem;
}
.info :nth-last-child(n + 3) {
  margin-bottom: 3rem;
}
.info .info-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info h2 {
  font-size: 2rem;
  letter-spacing: 0.15rem;
}
.info p {
  display: flex;
  align-items: center;
}
.info p img {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1rem;
  filter: brightness(0) invert(1);
}
.info .square {
  background: var(--yellow);
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

/* MOBILE */
@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    /* display: flex;
    align-items: center; */
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .content * {
    padding: 1rem 1rem 0;
  }

  .info {
    position: static;
    width: 100%;
    transform: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    margin-top: 2rem;
  }
  .info .info-container {
    padding-left: 5%;
    width: 95%;
  }
  .info .info-container .square {
    display: none;
  }

  .social-icons {
    margin: 0;
    padding: 1rem 0px 0px 0px;
    position: flex-end;
    width: 100%;
    height: auto;
  }

  .content button {
    padding-bottom: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
